<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userDao">
    <!--按照用户id查找用户 -->
    <select id="getUserById"  resultType="bean.Users">
        SELECT * FROM users where id = #{id}
    </select>

    <!-- 用户登录时按照账号密码查找用户 -->
    <select id="getUserInfo"  resultType="bean.Users">
        SELECT account,password FROM users

    </select>
    <!-- 注册时注册方法-->
    <insert id="addUser" parameterType="bean.Users">
        INSERT INTO users (account,passwprd,username,sex,phone,nickname,
        birthday,residenceAddress,headImage,headImageURL,paymentPassword)
        VALUES (#{account},#{passwprd},#{username},#{sex}#{phone},#{nickname},
        #{birthday},#{residenceAddress},#{headImage},#{headImageURL},#{paymentPassword})
    </insert>


    <!-- 修改密码的方法-->
    <update id="updatePasswordById"  parameterType="bean.users">
        UPDATE users SET password=#{password} WHERE id=#{id}
    </update>

<!-- 修改个人信息的语句-->
    <update id="updateUserInfo" parameterType="bean.users">
        UPDATE users SET username=#{username},sex=#{sex},phone=#{phone},nickname=#{nickname},
        birthday=#{birthday},residenceAddress=#{residenceAddress},headImage=#{headImage},headImageURL=#{headImageURL}
    </update>





    <select id="getUsers"  resultType="User">
        SELECT uid,uname username,uage age FROM user where 1 = 1
        <if test="list != null">
            AND uage IN
            <foreach collection="list" item="age" open="(" close=")" separator=",">
                ${age}
            </foreach>
        </if>
    </select>
</mapper>